<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gennady.golovin.puzzle15">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".Main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name=".RatingView"
            android:label="@string/title_activity_rating_view"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.ClassicPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.VerticalPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.RomePuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.AlphabetPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.HellenicPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.BinaryPuzzle"
            android:theme="@style/AppBinary"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.TernaryPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.FivefoldPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.OctalPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.HexadecimalPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.MagicQuadrantPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puzzles.WordsPuzzle"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Levels"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="@string/title_levels"/>
        <activity
            android:name=".About"
            android:label="@string/menu_about"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Prefs"
            android:label="@string/menu_settings_game"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameOver"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
    </application>

</manifest>
